**Data Types and Structures Questions**

**1:- What are data structures, and why are they important ?**

Ans :- Data structures are formats for organizing, storing, processingdata. They are important for managing large amounts of data efficiently and are used in programming.

**2:- Explain the difference between mutable and immutable data types with examples.**

Ans :- Mutable data types can be changed or edited after they created but immutable are tha one which cannot be changed once they are created.
Example of Mutable data types: List, set, dictonary.
Example of Imutable data types: String , tuple , integer and float.

**3:- What are the main differences between lists and tuples in Python ?**

Ans :- List define by [] brackets / Tuple define by ()
       List is mutable. We can modaify add, remove the data / Tuple is imutable. Cannot be modified once it gets created.

**4:- Describe how dictionaries store data ?**

Ans :- Dictonaries store data in key value pairs. It store data in buckets which provide space in the storage. A unique is associated with a specific value.

**5:- Why might you use a set instead of a list in Python ?**

Ans :- I might use set insterd of list because it has one good advantage of having highly optimized for membership tests.

**6 :-What is a string in Python, and how is it different from a list ?**

Ans :- a string is a sequence of characters enclosed in quotes (single or double), representing text data, while a list is an ordered collection of items (which can be different data types like numbers, strings, etc.) enclosed in square brackets, allowing for modification and flexibility in data storage; essentially, a string is only made up of characters and is immutable (cannot be changed once created), whereas a list can hold various data types and is mutable (can be changed after creation).

7:-  **How do tuples ensure data integrity in Python ?**

Ans :- Tuples are an essential data structure in Python, representing an immutable, ordered collection of elements. They are similar to lists but with a key difference: once a tuple is created, its contents cannot be changed. This immutability makes tuples a reliable choice for storing fixed collections of data.

**8:- What is a hash table, and how does it relate to dictionaries in Python ?**

Ans :- Hash tables are a type of data structure in which the address/ index value of the data element is generated from a hash function. This enables very fast data access as the index value behaves as a key for the data value.

**9:- Can lists contain different data types in Python ?**

Ans :- A list can also contain a mix of Python types including strings, floats, and booleans.

**10:- Explain why strings are immutable in Python ?**

Ans :- Python uses  string interning, where identical string values are stored only once in memory to save space.
If strings were mutable, modifying one would unintentionally change all references to that string.

**11:-  What advantages do dictionaries offer over lists for certain tasks ?**

Ans :- Dictionaries have several advantages over lists for tasks that require fast lookups or searches. Dictionaries are more flexible, memory efficient, and easier to use than lists.


**12 :- Describe a scenario where using a tuple would be preferable over a list ?**

Ans :- when we need to store a collection of data that should never be modified after creation , in such cases we can use tuple insterd of list.

**13:- How do sets handle duplicate values in Python ?**

Ans :- Sets in Python automatically handle duplicate values by discarding them. This is a fundamental property of sets - they only store unique elements.

**14:- How does the “in” keyword work differently for lists and dictionaries ?**

Ans :- When using the "in" keyword in Python, it checks if a value exists within a sequence like a list, but when used with a dictionary, it specifically checks if a given value is present as a key in the dictionary, not as a value; meaning.

**15 :- Can you modify the elements of a tuple? Explain why or why not ?**

Ans :- No, we cannot modify the elements of a tuple in Python because tuples are considered "immutable" data structures.

**16 :- What is a nested dictionary, and give an example of its use case ?**

Ans :- A nested dictionary in Python is a dictionary within another dictionary. It allows you to organize data hierarchically, where each key can map to another dictionary as its value. This structure is useful for representing complex data.

**17:- Describe the time complexity of accessing elements in a dictionary ?**

Ans :- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

**18:- In what situations are lists preferred over dictionaries ?**

Ans :- Lists are preferred over dictionaries when the order of elements is important, we need to frequently add or remove elements from the beginning.

**19 :- Why are dictionaries considered unordered, and how does that affect data retrieval ?**

Ans :- Dictionary term as an unordered collection of object because in dictionary we can use any type of data types . But in key datatype should be immutable type.

**20 :- Explain the difference between a list and a dictionary in terms of data retrieval ?**

Ans :- A list retrieves data based on its position in the sequence using an index number, while a dictionary retrieves data using a specific "key" which is associated with the desired value.

**Practical Questions**

1:- Write a code to create a string with your name and print it.

In [19]:
name = "Md sohail jahangeer"
print(name)

Md sohail jahangeer

2:- Write a code to find the length of the string "Hello World".

---

In [20]:
string = "Md sohail jahangeer"
length = len(string)
print("Length of the string:", length)

Length of the string: 19

3:- Write a code to slice the first 3 characters from the string "Python Programming" ?

In [21]:
string = "Md sohail jahangeer"
sliced = string[:3]
print(sliced)

Md

4:- Write a code to convert the string "hello" to uppercase.

In [22]:
string = "Md sohail jahangeer"
uppercase = string.upper()
print(uppercase)

MD SOHAIL JAHANGEER

5:- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [23]:
string = "I like apple"
modified = string.replace("apple", "orange")
print(modified)

I like orange

6:- Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7:- Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8:- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9:- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10:- Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11:- Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12 :-  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

13:- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [13]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

14:- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15:- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [15]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple!")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple!

16:- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17:- Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [17]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18:- Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19:- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [24]:
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

20:- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [25]:
my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

21 :- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

22:-  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [28]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Banana is in the tuple")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple

23:- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [29]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24:- Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [30]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}